<body ng-controller = "ProductsCtrl">
	<h1>Sabrina Perardt Interview</h1>
	<br><br><br>
	<a href='#'>Back</a>
	<h2>First page of products in a category</h2>
	<div class="container">
		<div>
			<input type='text' size=35 ng-model='productSearch' placeholder="Search by product name" />
				<ul ng-repeat= "productsList in productsList | filter: productSearch">
					<img src="{{productsList.thumbnailImage}}" alt="product image">
					<a href="#/productDetail/{{productsList.itemId}}/{{categoryId}}" >{{productsList.name}}<br></il>
				</ul>
		 	</div> 
		</div>
	</body>
</html>